.card.border-secondary.mb-3
  .card-header
    = beverage.name
  .card-body
    %p.card-text
      Price: 
      = beverage.price
  .card-footer
    %p.card-text
      %input.form-control{:type => "text", id: "#{beverage.name}"}