.card.border-secondary.mb-3
  .card-header 
    = movie.name
  .card-body
    %p.card-text 
      Duration 
      = movie.duration
      minutes
  .card-footer
    %a.card-text
      = link_to 'buy ticket', controller: "main", action: "show_timetable", name: movie.name

