.card.border-secondary.mt-5.fs-6
  .card-body.fs-6
    Type: 
    = @movie.description
  .card-body
    %p.card-text.fs-6
      Duration 
      = @movie.duration
      minutes
  .card-body
    %p.card-text.fs-6
      Date in: 
      = @movie.date_in
  .card-body
    %p.card-text.fs-6
      Date out: 
      = @movie.date_out
