%h1 MainPage
%p 
	.row.row-cols-1.row-cols-md-3.g-4
		- if @movies.any?
			- @movies.each do |movie|
				.col
					=render "movieCard", movie: movie
		- else
			no movies showing now, please comeback later.
/ %p
/ 	.card{:style => "width: 18rem;"}
/ 		%img.card-img-top{:alt => "venom", :image_tag => "/images/venom.png"}
/ 		.card-body
/ 			%h5.card-title Card title
/ 			%p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
/ 			%a.btn.btn-primary{:href => "#"} Go somewhere
	
/	= image_tag "/assets/images/venom.jpg"
/	= image_tag "/wp_project/app/assets/images/venom.jpg", height: 300 
/	= image_tag "venom.png", height: 300 