%h1 MainPage
%p 
	.row.row-cols-1.row-cols-md-3.g-4
		- if @movies.any?
			- @movies.each do |movie|
				.col
					=render "movieCard", movie: movie
		- else
			no movies showing now, please comeback later.
