%h1 My Order
%table.table#index
	%thead
		%tr
			%th Order Number
			%th Name
			%th Quantity
			%th Price
	%tbody
		- @orders.each do |order, orderlines|
			- orderlines.each do |orderline|
				%tr
					%td= order
					%td= orderline[0]
					%td= orderline[1]
					%td= orderline[2]

:javascript
	$(document).ready(function() {
		$('#index').DataTable({
			order: [[0, 'dsc']],
			rowGroup: {
				dataSrc: 0
			},
			scrollY:        500,
			deferRender:    true,
			scroller:       true,
			search: false
		});
	});
