// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.btn-primary.selected {
	background-color: #198754;
}

.btn-info {
	color: white
}

.btn-info.selected {
	background-color: #198754;
}

.card-img-top {
    width: 100%;
    height: 30vw;
    object-fit: cover;
}

.spc {
	line-height: 25px;
}